Port {{ ssh_hardening_port }}
PermitRootLogin {{ ssh_hardening_permit_root_login }}
PasswordAuthentication {{ ssh_hardening_password_authentication }}
PubkeyAuthentication {{ ssh_hardening_pubkey_authentication }}
X11Forwarding {{ ssh_hardening_x11_forwarding }}
UseDNS {{ ssh_hardening_use_dns }}
